<%- include("../partials/header") %>
<%- include("../partials/navbar") %> 
<% if(products) { %>
    <div class="row">
        <div class="col-sn-6 col-m-6 col-md-offset-3 col-sn-offset-3">
            <ul class="list-group">
            <% products.forEach(function(product){ %>
                <li class="list-group-item" id="li">
                    <span class="badge" style="color: black;"><%= product.qty %></span>
                        <strong><%= product.item.title %></strong>
                        <span class="label label-success">$<%= product.price %></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Reduce by One</a>
                                <a class="dropdown-item" href="#">Remove All</a>
                            </div>
                        </div>
                </li>
                <br>
            </ul>
        </div>
    <% }); %>
    <br>
    <div class="row">
        <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3" id="li">
            <strong >Total: $115<%= products.totalPrice %></strong>
        </div>
    </div>
    </div> 
</div>
<% } else { %>
<div class="row">
        <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
            <h2 style="color:red; text-align: center;">No items in the Cart</h2>
        </div>
</div>
<% } %>



<%- include("../partials/footer") %>
